<nav class="navbar">
    <div class="nav-left" onclick="navigate('/home')">
        <div class="rolling-pizza-logo">
            <div class="pizza-body">
                <div class="pepperoni p1"></div>
                <div class="pepperoni p2"></div>
                <div class="pepperoni p3"></div>
                <div class="pepperoni p4"></div>
            </div>
            <div class="speed-lines">
                <div class="line l1"></div>
                <div class="line l2"></div>
            </div>
        </div>
        <span>Pizzaro Go</span>
    </div>

    <ul class="nav-center">
        <li onclick="navigate('/home')">Home</li>
        <li onclick="navigate('/menu')">Menu</li>
        <li onclick="navigate('/orders')">Orders</li>
        <li onclick="navigate('/stocks')">Stock</li>
        <li onclick="navigate('/users')">Users</li>
        <li>Contact</li>
    </ul>

    <div class="nav-right">
        <div id="header-user-details-placeholder"></div>
    </div>
</nav>