<div class="user-login-form">
    <div id="login-message" class="message-container hidden"></div>

    <div class="form-group">
        <label for="login-email">Email Address</label>
        <div class="input-wrapper">
            <input type="email" id="login-email" placeholder="name@example.com" />
        </div>
    </div>

    <div class="form-group">
        <label for="login-password">Password</label>
        <div class="input-wrapper">
            <input type="password" id="login-password" placeholder="••••••••" />
        </div>
    </div>

    <button class="btn-primary" id="btn-submit-login">
        Login
    </button>

    <div class="form-footer">
        <a href="#">Forgot Password?</a>
    </div>
</div>